@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sand-serif;
    
}
footer{
    height: 50px;
    background-color: #e3f2fd;
}
.logged-in-text{
    padding: 15px;
}